#line-button-icon {
    background-image:url('/static/images/square-default.png');
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    margin-top:2px;
    width:46px;
    height:46px;
  }